body {
    font-family: sans-serif;
    background-color: #F6F4EB;
    font-size: 50px;
    color: rgb(54, 54, 54);
}

.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    margin: auto;

}

.screen {
    background-color: rgb(54, 54, 54);
    text-align: right;
    color: #F7FFE5;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 5;
    height: inherit;
    background-color: #C4D7B2;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;

}

.operations {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: stretch;

}

.operation {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A0C49D;
}

.box {
    display: flex;
    flex: 4;

}

.numbers {
    flex: 3;
    display: flex;
    flex-wrap: wrap;

}

.otherKeys {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.number {
    width: 33.3333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#AC {
    font-size: 0.8em;
}

.equals {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin: 10px 15px 15px 15px;
    background-color: #E1ECC8;
}

.backspace {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}